.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}.maincontainer{
   

    
    padding: 50px; 
    background-color: lightblue;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.gender{
    display: flex;
    justify-content: space-between;
}.genderko{
    display: flex;
    align-items: center;
}